.candidate-container {
    border: 2px solid rgb(219, 214, 214);
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.candidate-searcher {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 15px;
    align-items: center;
    padding-inline: 150px;
}

.candidate-searcher input {
    padding: 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.candidate-searcher button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.candidate-searcher button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.candidate-details {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px;
    align-items: center;
    padding: 20px;
}

.candidate-details input {
    padding: 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.candidate-container h2 {
    text-align: center;
    width: 100%;
    margin: 5px 0;
}

.candidate-container h3 {
    text-align: center;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 0px;
}


.error-text {
    text-align: center;
    width: 100%;
    color: #dc3545;
    font-size: 14px;
    margin: 10px 0;
}

.candidate-section {
    width: 475px;
    align-self: center;
    border: solid 1px rgb(150, 149, 149);
    border-radius: 6px;
    background-color: rgb(243, 240, 240);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin: 5px;
}