.job-item {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    gap: 15px;
    align-items: center;
    justify-items: stretch;
    padding: 4px 10px;
    border: 2px solid rgb(219, 214, 214);
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 10px 0;
}

.job-item input {
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
}

.job-item button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease;
    padding: 0 10px;
    font-size: 13px;
}

.job-item button:hover {
    background-color: #147045;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-text {
    grid-column: 1 / -1;
    text-align: center;
    color: #dc3545;
    font-size: 14px;
    margin: 0 0;
    width: 100%;
}