body {
    background-color: #f8f9fa;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.app-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}